@charset "UTF-8";

:root{
    --cor1 : #119BFA;
    --cor2 : #FAF911;
    --cor3 : #070d5f;
    --cor4 : #6e5a08e1;
    --cor5 : #4349A5;
    --cor6 : #46657A;

}

body{
    height: 100vh;
    
    background-color: var(--cor3);
    font-family: 'Courier New', Courier, monospace;
    color: var(--cor6);

}

header{
    height: auto;
    width: auto;
    padding: 20px;
}

main{
    padding: 30px;
    position: relative;

}
figure{
    width: 127px;
    height: auto;
    position: absolute;
    padding-left: 70px;
    
}
img{

}
section{
    position: absolute;
    padding-left: 150px;
    padding-top: 200px;
    
}
nav{
    text-decoration: none;
    text-align: end;
    margin-top: 0px;
    

    

}
a{
    text-decoration: none;

}