@charset "UTF-8";

:root{
    --cor1 : #119BFA;
    --cor2 : #FAF911;
    --cor3 : #070d5f;
    --cor4 : #6e5a08e1;
    --cor5 : #4349A5;
    --cor6 : #46657A;
}
 body {

 }
 
 main{
   
  }

  nav{

  }
   
  section>figure{

  }

  #linhavertical{
    width: 10px;
    height: 200px;
    background-color: var(--cor4);
  }
  #linha{
    
  }
  .seta-container {
    display: flex;
    align-items: center;
  }
  
  .linha {
    width: 50px;
    height: 5px;
    background-color: black; /* Linha da seta */
  }
  
  .triangulo {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black; /* Cor da seta */
    margin-left: 5px;
  }

  article>p{
    height: 100px;
    width: 300px;
    padding: 40px;

  }
