@charset "UTF-8";


body {
    background-color: black;
    
    
}

header {
    background-color: black;
    padding-block: 4%;
    color: white;
    text-align: center;
    font-size: 1.5em;
}



main{
    background-color: #ffda09;
    padding-block: 5%;
    text-align: center;
    display:flex; 
    color: #0A058A;
    border-radius: 5px;
    box-shadow:1px 0px 2px 1px #ffda095d;
   
    
}

#cartoes {
    margin: 1%;
    width: 30%;
    box-shadow:1px 1px 5px -1px #0A058A;
    border-radius: 5px;
   
}

#pix {
    margin: 1%;
    width: 30%;
    box-shadow:1px 1px 5px -1px #0A058A;
    border-radius: 5px;
    
}


#semtick {
    margin: 1%;
    width: 30%;
    box-shadow:1px 1px 5px -1px #0A058A;
    border-radius: 5px;
    

}
a {
    text-decoration: none;

}




footer {
    background-color: black;
    padding: 0.5%;
    color: white;
    text-align: center;
}
